<!--我要参与的悬浮框-->
<script type="text/javascript" src="__ROOT__/Public/Js/common.js"></script>
<div class="modal fade" id="canyumodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        我要参与
      </div>
      <div class="modal-body">
        内容：
        <textarea name="canyu_content" id="canyu_content" class="form-control" rows="3" id="content"></textarea>
      </div>
      <div class="modal-footer">
        <button class="btn btn-info" id="join" aid="{$data['article_id']}" onclick="join()" data-dismiss="modal">发送</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->