{//邀请关注项目、政策、问答的模态框}
<script type="text/javascript" src="__ROOT__/Public/Js/common.js"></script>
<div class="modal fade" id="yaoqingmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title public__myblue" id="myModalLabel">私信邀请</h4>
      </div>
      <div class="modal-body">
        <h3 class="public__myblue">发给:</h3>
        <textarea name="content" class="form-control" rows="1" id="content"></textarea>
        <h3 class="public__myblue">内容:</h3>
        <textarea name="content" class="form-control" rows="3" id="content"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="GetRequest()">发送</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->