{//政策发布页}
<extend name="Home/Public/base.html" />

<block name="headfiles">
  <link rel="shortcut icon" type="image/x-icon" href="__ROOT__/Public/Img/blue-logo.jpg" />
  <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Css/mystyle.css" media="all"/>

    <load href="__PUBLIC__/Ueditor/ueditor.config.js" />
    <load href="__PUBLIC__/Ueditor/ueditor.all.min.js" />
    <load href="__PUBLIC__/Ueditor/lang/zh-cn/zh-cn.js" />
    <script type="text/javascript" src="__ROOT__/Public/Js/common.js"></script>
    <script type="text/javascript">
      var save_url='{:U("/Home/Base/save")}';
      var preview_url='{:U("/Home/Base/preview")}';
      var submit_url ='{:U("/Home/Base/submit")}';
      var article_type='question';
      var log_url = '{:U("/Home/User/log")}';
      var article_url = '{:U("/Home/Question/detail/aid/","","")}';
      var home_url = '{:U("/Home/Question")}';
      function re_save_draft(){
          var newDigi = document.getElementById("send_btn");
          var article_id=newDigi.getAttribute("aid");
          save_url='{:U("/Home/Base/re_save/aid/","","")}'+"/"+article_id;
          save_draft();
      }
      function re_submit(){
          var newDigi = document.getElementById("send_btn");
          var article_id=newDigi.getAttribute("aid");
          submit_url = '{:U("/Home/Base/re_submit/aid/","","")}'+"/"+article_id;
          submit();
      }

   </script>
  
    <style type="text/css">
        .clear {
            clear: both;
        }
    </style>
</block>

<block name="title">
  <title>问题修改-Mr.Chuang</title>
</block>

<block name="nav">
  <include file="Home/Public/header.html" />
</block>

<block name="main">

  <script type="text/javascript" defer src="__ROOT__/Public/Js/index.js"></script>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form action="" name="pform" method ="post">
      <center>
        <h2 class="public__myblue">问题标题</h2>
        <div id="div_title" style="color:red"></div>
        <input name="article_title" type="text" class="form-control" value="{$data['article_title']}" placeholder="问题标题" onblur="CheckTitle(this.value)" maxLength="64"/><br/>
        <h2 class="public__myblue">问题内容填写</h2>
        <div id="div_content" style="color:red"></div>
        <div>
          <script id="editor" name="content" type="text/plain" style="height:600px">
            {$data['article_content'] |htmlspecialchars_decode}
          </script>
        </div>


        <h2 class="public__myblue">添加问题标签</h2>
        <div id="nonamediv">
        <div class="input-group" style="width:50%;">
          <input type="text" class="form-control" placeholder="问题标签" id="biaoqian"  name="biaoqian">
          <span class="input-group-btn">
           <button class="btn btn-info" type="button" onclick="addbiaoqian()">.<span class="glyphicon glyphicon-plus"></span>.</button>
          </span>
        </div>
        <br/>
        <volist name="tag_list" id="vo">
        <span class="label label-info">{$vo['tag_title']}</span>
        </volist>
        </div>
      </center>
      <br/>
      
    </form>
    <button class="btn btn-success" onclick="re_save_draft()" ><span class="glyphicon glyphicon-lock"></span>&nbsp;存草稿</button>
      <button class="btn btn-info"  onclick="re_submit()"><span class="glyphicon glyphicon-ok" id="send_btn" aid="{$data['article_id']}"></span>&nbsp;确认发布</button>
    </div>
  </div>
  <script type="text/javascript">

  </script>

  <script defer type="text/javascript" language="javascript">

    var num=0;
    var array=[];
    function addbiaoqian()
    {
      array[num]=biaoqian.value;
      num=num+1;
      var neirong = document.createTextNode(biaoqian.value);
      var myspan = document.createElement("span");
      myspan.appendChild(neirong);
      myspan.className="label label-primary policy__label";
      document.getElementById("nonamediv").appendChild(myspan);
      biaoqian.value="";
    }
  </script>

 <script type="text/javascript">
    //UEDITOR_HOME_URL、config、all这三个顺序不能改变(绝对路径)
    window.UEDITOR_HOME_URL = "/ThinkPHP/Public/Ueditor/"; 
    //实例化编辑器
    var ue = UE.getEditor('editor');
  </script>
 </block> 