<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>个人用户管理</title>
	<load href="__PUBLIC__/Css/base.css" />
	<load href='__PUBLIC__/Js/jquery.js'/>
    <load href='__PUBLIC__/Js/style.js'/>
	<script>
function ondel()
{
	if(confirm("确定要删除吗")){
		return true;
	}
	else{
		return false;
	}
}
</script>
</head>
<body>

<input type="hidden" name="type" value="2" />
<form action="{:U('Policy/delSComment')}" method="post" onsubmit="return ondel();">
<table width="98%" border="0" align="center" cellpadding="2" cellspacing="1" bgcolor="#D6D6D6">
  <tr bgcolor="#FFFFFF"><td height="24" colspan="6"><center><b>政策评论回复</b></center>
	</td>
  </tr>
  <tr bgcolor="#FBFCE2">
    <td width="10%" height="24" align="center">用户id</td>
    <td width="25%" align="center">对应评论</td>
    <td width="30%" align="center">回复内容</td>
    <td width="20%" align="center">发表时间</td>
	<td width="15%" align="center"><input type="submit" value="删除" onsubmit="return ondel();" /></td>
  </tr>
  <foreach name='list' item='li'>
    <tr bgcolor="#FFFFFF" align="center" class="hover">
    <td width="10%" height="24" align="center">{$li['user_id']}</td>
    <td width="25%" align="center">{$li['content']}...</td>
    <td width="30%" align="center">{$li['second_comment_content']}</td>
    <td width="20%" align="center">{$li['second_comment_time']}</td>
	<td width="15%" align="center">
	<input type="checkbox" name="delarr[]" value="{$li['second_comment_id']}">
	</td>
  </tr>
</foreach>
    <tr bgcolor="#F9FCEF">
    <td height="24" colspan="6" align="center" valign="top">
      <span>{$page}</span>
    </td>
  </tr>
  <form action="{:U('Policy/scomment')}" method="post">
  <tr bgcolor="#FFFFFF">
   <td align="left">搜索问题：</td>
   <td colspan="5"  align='left'>
	关键词
   <input type='text' name="sname" style="width:200px;"/>&nbsp;&nbsp;<input type="submit" value="搜索" /></td>
  </tr>
</table>
</form>
</body>
</html>