<!--圈子模块
未登录跳转到登陆页log
-->
<extend name="Home/Common/base.html" />

<block name="headfiles">
  <link rel="shortcut icon" type="image/x-icon" href="__ROOT__/Public/Img/blue-logo.jpg" />
  <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Css/mystyle.css" media="all"/>
  <script src="__ROOT__/Public/Js/jquery.min.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="__ROOT__/Public/Js/circle.js"></script>
  <!--script type="text/javascript" src="__ROOT__/Public/Js/Base.js"></script>

<script type="text/javascript" src="__ROOT__/Public/Js/prototype.js"></script>

<script type="text/javascript" src="__ROOT__/Public/Js/mootools.js"></script-->

<!--script type="text/javascript" src="__ROOT__/Public/Js/Ajax/ThinkAjax.js"></script-->



</block>

<block name="title">
        <title>圈子-Mr.Chuang</title>
</block>

<block name="nav">
      <include file="Home/Common/header1.html" />
</block>

<block name="main">
<div class="uglydiv">1</div>


<include file="Home/View/Circle/circle_logo.html" />

	<div id="circle-homepage">


	<?xml version="1.0" encoding="utf-8"?>
<div id="comment_list">
  <title>YouCube - The Blog for Cube Puzzlers</title>
  <p>Puzzler Ruby</p>


      <p>08/14/2008</p>
      <div>Got the new cube I ordered. It's a real pearl.</div>


</div>
	</div>
	</include>
	</block>