<!--圈子模块
未登录跳转到登陆页log
-->
<extend name="Home/Public/base.html" />

<block name="headfiles">
  <link rel="shortcut icon" type="image/x-icon" href="__ROOT__/Public/Img/blue-logo.jpg" />
  <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Css/mystyle.css" media="all"/>
</block>

<block name="title">
        <title>圈子-Mr.Chuang</title>
</block>

<block name="nav">
      <include file="Home/Public/header1.html" />
</block>

<block name="main">
<div class="uglydiv">1</div>

	<include file="Home/View/Circle/circle_logo.html" />
<div id="circle-homepage">
	<div class="row">
	  <div class="col-md-8">
	    <div id="circle-homepage-detail" >
      <volist name="my_circle" id="my_circle">
		<div id="circle-info">
        	<img align="left" valign="top" class="circle-icon" width="40" height="40" src="{$my_circle.circle_avatar_url}" alt="{$my_circle.circle_name}"/>
        	&nbsp; &nbsp;

        	<h4 class="info" style="display:inline">
        		{$my_circle.circle_name}
			</h4>
        	&nbsp; &nbsp;
        	<p class="info" style="display:inline">
                    我是这个圈子的成员 
                    &gt; 

          <!-- Button trigger modal -->
              <button class="btn btn-default" data-toggle="modal" data-target="#myModal" style="background-color:#f2f8f2;color:#6e944f">
                退出圈子
              </button>

          <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel">退出圈子</h4>
                        </div>
                        <div class="modal-body">
                        确定要退出圈子吗？
                        <br>
                        <p style="color:gray">退出圈子后，您不再是圈子的成员，也无法再浏览到圈子内的信息</p>
                        </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <a href="{:U('/Home/Circle/quit/cid/'.$my_circle['circle_id'])}" role="button">
                        <button type="button submit"  class="btn btn-default"  > 确定 </button></a>
                       
                       
                      </div>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div><!-- /.modal -->
         
    	   </div><!--end of circle-info-->
        
    
    <br/>
      <div class="intro">
    	<div class="intro-content">
    	创建于{$my_circle.circle_time} &nbsp; &nbsp; 创建人:<a href="#">{$my_circle.user_nickname}</a>
      <p>
    	{$my_circle.circle_profile}
      </p>
    	</div>
    </div><!--end of intro-->
  </volist><!--end of circle info-->
   	<div class="content-list">
    	<div class="panel panel-default">
  	<!-- Default panel contents -->
  			<div class="row" style="display:inline">
  				<div class="panel-heading col-md-9" style="font-size:120%;padding-top:10px;margin-left:10px">
  				最近帖子/最热帖子
  				</div>
  				
  			</div><!--end of row-->
  		

  		<div class="panel-body">

    		<ul class="nav nav-tabs" id="myTab">
        
  				<li class="active"><a href="#all" data-toggle="tab">全部</a></li>
  				<li ><a href="#activity" data-toggle="tab">活动</a></li>
  				<li ><a href="#chat" data-toggle="tab">群聊</a></li>
  				<li ><a href="#post" data-toggle="tab">话题贴</a></li>
        
			</ul>

  		</div>

      <div class="tab-content">
      <div class="tab-pane active" id="all">
        <table class="table">
        <tr  style="color:gray;border-bottom-style:dashed;border-bottom-color:gray;border-bottom-width:1px">
            <td class="td-subject">话题</td>
            <td class="td-reply">作者</td>
            <td class="td-time">发布时间</td>
            <td class="td-circle">回应</td>
            <!--td class="td-circle">最后回应</td-->
          </tr>
          <volist name="post_list" id="vo">
          <tr>
            <td class="td-subject"><a href="{:U('/Home/Circle/post_detail/cid/'.$cid.'/aid/'.$vo['article_id'])}">[
            <?php 
            switch ($vo['post_type']) {
              case 0:
                echo "跨圈活动";
                break;
              case 1:
                echo "圈内活动";
                break;
              case 2:
                echo "群聊";
                break;
              case 3:
                echo "话题贴";
                break;
              default:
                break;
            }

            ?>]
            {$vo.article_title}</a></td>
            <td class="td-user">{$vo.user_nickname}</td>
            <td class="td-time">{$vo.article_time}</td>
            <td class="td-reply">{$vo.article_comment_number}</td>
          </tr>
          </volist>
  
      </table>
      <div class="page-division" style="text-align:center;margin-left:auto;margin-right:auto;font-size:120%">
        {$show}
             
          </div>
      </div><!--end of all-->
      <div class="tab-pane" id="activity">
        <table class="table">
        <tr  style="color:gray;border-bottom-style:dashed;border-bottom-color:gray;border-bottom-width:1px">
            <td class="td-subject">话题</td>
            <td class="td-reply">作者</td>
            <td class="td-time">发布时间</td>
            <td class="td-circle">回应</td>
            <!--td class="td-circle">最后回应</td-->
          </tr>
          <volist name="post_list_activity" id="vo">
          <tr>
            <td class="td-subject"><a href="{:U('/Home/Circle/post_detail/cid/'.$cid.'/aid/'.$vo['article_id'])}">[
            <?php 
            switch ($vo['post_type']) {
              case 0:
                echo "跨圈活动";
                break;
              case 1:
                echo "圈内活动";
                break;
              default:
                break;
            }

            ?>]
            {$vo.article_title}</a></td>
            <td class="td-user">{$vo.user_nickname}</td>
            <td class="td-time">{$vo.article_time}</td>
            <td class="td-reply">{$vo.article_comment_number}</td>
          </tr>
          </volist>
  
      </table>
      <div class="page-division" style="text-align:center;margin-left:auto;margin-right:auto;font-size:120%">
        {$show_ac}
             
          </div>
      </div>
      <div class="tab-pane" id="chat">
        <table class="table">
        <tr  style="color:gray;border-bottom-style:dashed;border-bottom-color:gray;border-bottom-width:1px">
            <td class="td-subject">话题</td>
            <td class="td-reply">作者</td>
            <td class="td-time">发布时间</td>
            <td class="td-circle">回应</td>
            <!--td class="td-circle">最后回应</td-->
          </tr>
          <volist name="post_list_chat" id="vo">
          <tr>
            <td class="td-subject"><a href="{:U('/Home/Circle/post_detail/cid/'.$cid.'/aid/'.$vo['article_id'])}">[群聊帖]
            {$vo.article_title}</a></td>
            <td class="td-user">{$vo.user_nickname}</td>
            <td class="td-time">{$vo.article_time}</td>
            <td class="td-reply">{$vo.article_comment_number}</td>
          </tr>
          </volist>
  
      </table>
      <div class="page-division" style="text-align:center;margin-left:auto;margin-right:auto;font-size:120%">
        {$show_chat}
             
          </div>
      </div>
      <div class="tab-pane" id="post">
        <table class="table">
        <tr  style="color:gray;border-bottom-style:dashed;border-bottom-color:gray;border-bottom-width:1px">
            <td class="td-subject">话题</td>
            <td class="td-reply">作者</td>
            <td class="td-time">发布时间</td>
            <td class="td-circle">回应</td>
            <!--td class="td-circle">最后回应</td-->
          </tr>
          <volist name="post_list_post" id="vo">
          <tr>
            <td class="td-subject"><a href="{:U('/Home/Circle/post_detail/cid/'.$cid.'/aid/'.$vo['article_id'])}">[话题贴]
            {$vo.article_title}</a></td>
            <td class="td-user">{$vo.user_nickname}</td>
            <td class="td-time">{$vo.article_time}</td>
            <td class="td-reply">{$vo.article_comment_number}</td>
          </tr>
          </volist>
  
      </table>
      <div class="page-division" style="text-align:center;margin-left:auto;margin-right:auto;font-size:120%">
        {$show_post}
             
          </div>
      </div>
      </div><!--end of post_list-->

    	
  		
  		</div><!-- end of panel-->


  	</div><!-- end of content-list-->
  	</div><!--end of circle-home-->

  </div><!--end of col-md-8-->
  <div class="col-md-4">
  	<div id="circle-right-page">
<div>
  <p>最近加入</p>
  <div class="member-list">
    <ul class="list">
    <volist name="belong" id="vo">
    
      <li>
        <div class="pic">
          <a href="{:get_url_by_id($vo.user_id)}">
            <img width="40" height="40" src="{$vo.user_avatar_url}" alt="{$vo.user_nickname}">
          </a>
        </div>
        <div>
          <a href="{:get_url_by_id($vo.user_id)}">{$vo.user_nickname}</a>
        </div>
      </li>
    </volist>
      <li>
        
      </li>
    </ul>
  </div>
</div>
<br/><br/>

<span class="input-group-btn">
    <a href="{:U('/Home/Circle/index')}" role="button">
        <button class="btn btn-default" type="button submit" style="background-color:#f2f8f2;color:#6e944f" >回我的圈子首页</button>
    </a>
</span>

<br>
<br>
<!--判断当前用户身份-->
<!--0-普通用户；1-圈主，2-管理员-->
<if condition="$find eq 1">
<span class="input-group-btn">
  <p style="color:gray">我是圈主，可对 {$circle_name} 圈子进行管理 </p>
    <a href="{:U('/Home/Circle/manage/cid/'.$circle_cid)}" role="button">
        <button class="btn btn-default" type="button submit" style="background-color:#f2f8f2;color:#6e944f" >圈子管理</button>
    </a>
</span>
<br/>
<elseif condition="$find eq 2"/>
 <span class="input-group-btn">
  <p style="color:gray">我是管理员，可对 {$circle_name} 圈子进行管理 </p>
    <a href="{:U('/Home/Circle/manage/cid/'.$circle_cid)}" role="button">
        <button class="btn btn-default" type="button submit" style="background-color:#f2f8f2;color:#6e944f" >圈子管理</button>
    </a>
</span>
<br/>
</if>

<p style="color:gray">在 {$circle_name} 圈子中发言</p>
<span class="input-group-btn">
    <a href="{:U('/Home/Circle/post/cid/'.$circle_cid)}" role="button">
        <button class="btn btn-default" type="button submit" style="background-color:#f2f8f2;color:#6e944f" >我要发帖</button>
    </a>
</span>
<br/>
<span class="input-group-btn">
    <a href="{:U('/Home/Circle/start_chat/cid/'.$circle_cid)}" role="button">
        <button class="btn btn-default" type="button submit" style="background-color:#f2f8f2;color:#6e944f" > 发起群聊</button>
    </a>
</span>
<br/>
<span class="input-group-btn">
    <a href="{:U('/Home/Circle/start_activity/cid/'.$circle_cid)}" role="button">
        <button class="btn btn-default" type="button submit" style="background-color:#f2f8f2;color:#6e944f" >发起活动</button>
    </a>
</span>
</div>
  </div>
  </div><!--end of row-->

</div>

<script type="text/javascript">

          function confirm() {
            window.location.href="{:U('Circle/quit')}";
          }

         
</script>


</block>