<!--圈子模块
创建圈子页
-->
<extend name="Home/Public/base.html" />

<block name="headfiles">
  <link rel="shortcut icon" type="image/x-icon" href="__ROOT__/Public/Img/blue-logo.jpg" />
  <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Css/mystyle.css" media="all"/>
  <script type="text/javascript" src="__ROOT__/Public/Js/circle.js"></script>


</block>

<block name="title">
        <title>圈子-Mr.Chuang</title>
</block>

<block name="nav">
      <include file="Home/Public/header1.html" />
</block>

<block name="main">
<div class="uglydiv">1</div>

<include file="Home/View/Circle/circle_logo.html" />

	<div id="circle-homepage">
		<div class="row">
			<div class="col-md-8" style="margin-top:30px">
				
				<form name="circle_form" class="circle-form" method="post" action=""> 
					

				<h4>
					开始创建爱闯圈新圈子
				</h4>
				<br/>
                

                <div  class="col-md-8 col-md-offset-3 registertextstyle">
                    <tr id="tr_title" style=" display:block">
                    <td height="40" colspan="2" align="center">
                    <div id="div_title" class="span3 offset3"style="color:#FF0000; width:90%; height:29px; padding-top:8px;"></div></td>
                    </tr>
                </div>

				<div class="item">
            		<label style="font-size:130%">圈子名称：</label>
            		<input  name="title" type="text" size="50" maxlength="100"  onblur="checkTitle(this.value)"/>
        		</div>

        		<br/>

        		

                <!--div class="item">
                    <label style="font-size:130%">
                    圈子标签：</label>

                    <input  name="tag" type="text" size="50" maxlength="100" />

                    <p style="color:gray;margin-left:100px"> 圈子最多5个标签，用空格空开</p>
                </div>
                <br/-->


                <!--div  class="col-md-8 col-md-offset-3 registertextstyle">
                    <tr id="tr_email" style=" display:block">
                    <td height="40" colspan="2" align="center">
                    <div id="div_email" class="span3 offset3"style="color:#FF0000; width:90%; height:29px; padding-top:8px;"></div></td>
                    </tr>
                </div-->
        		<!--div class="item">
            		<label style="font-size:130%">
                <span class="label">正文:</span>
                
                    &nbsp;
            	</label>
            		邮箱验证：</label>
            		<input  name="email" id="email" type="text" size="50" maxlength="100"  onblur="checkEmail(this.value)"/>
        		</div-->
        		<br/>

                <div  class="col-md-8 col-md-offset-3 registertextstyle">
                    <tr id="tr_content" style=" display:block">
                    <td height="40" colspan="2" align="center">
                    <div id="div_content" class="span3 offset3"style="color:#FF0000; width:90%; height:29px; padding-top:8px;"></div></td>
                    </tr>
                </div>

        	 	<div class="item">
            		<label style="font-size:130%">
                <!--span class="label">正文:</span>
                
                    &nbsp;
            	</label-->
            		圈子介绍：</label>
            		<textarea name="content" rows="10" cols="55" onblur="checkContent(this.value)"></textarea>
        		</div>
        		<br/>

        	


        		<div class="item"></div>

            </form>
        		<div class="item nc-item-bns" id="show_alert">
            		<span class="bn-flat"><input id="submitButton" aid="{$user_id}" name="rev_submit" type="submit" value="提交" onclick="post_submit()" ></span>
            		<span class="bn-flat"><a href="{:U('/Home/Circle/index')}" role="button">撤销</a></span>
        		</div>

        	<div id="thumblst" class="item item-thumb-list"></div>

        
        
			</div>
			<div class="col-md-4">
				
			</div>
	</div><!--end of circle-homepage-->
<script type="text/javascript">
    //alert('11');
  //alert('1');
    var flag_title=true;
    var flag_email=true;
    var flag_content=true;
    function checkTitle(str){
  if(str==""){      //当用户名为空时
    //alert("昵称不能为空！");
    //document.post_form.inputNickname.focus();
    document.getElementById("div_title").innerHTML="请输入标题.";//设置提示文字
    document.getElementById("tr_title").style.display='block'; //显示提示信息
    flag_title=false;
  }else if(!checkeUser(str)){ //判断用户名是否符合要求
    document.getElementById("div_title").innerHTML="标题非法.";  //设置提示文字
    document.getElementById("tr_title").style.display='block';   //显示提示信息
    flag_title=false;
  }else{    //进行异步操作，判断用户名是否被注册
    document.getElementById("div_title").innerHTML="";
    document.getElementById("tr_title").style.display='none';
    //var loader=new net.AjaxRequest("UserServlet?action=checkUser&username="+str+"&nocache="+new Date().getTime(),deal,onerror,"GET");
  } 
}



//验证E-mail地址

function checkemailcorrect(str)
{
   var re;
          var ss=document.getElementById("email").value;
          re= /\w@\w*\.\w/
         if(re.test(ss))
          return 1;
         else
          return 0;
}


function checkEmail(str){
  if(str==""){      //当用户名为空时
    //alert("昵称不能为空！");
    //document.post_form.inputNickname.focus();
    document.getElementById("div_email").innerHTML="请输入邮箱地址.";//设置提示文字
    document.getElementById("tr_email").style.display='block'; //显示提示信息
    flag_email=false;
  }else if(!checkemailcorrect(str)){ //判断用户名是否符合要求
    document.getElementById("div_email").innerHTML="这不是一个有效的邮箱地址.";  //设置提示文字
    document.getElementById("tr_email").style.display='block';   //显示提示信息
    flag_email=false;
  }else{    //进行异步操作，判断用户名是否被注册
    document.getElementById("div_email").innerHTML="";
    document.getElementById("tr_email").style.display='none';
    //var loader=new net.AjaxRequest("UserServlet?action=checkUser&username="+str+"&nocache="+new Date().getTime(),deal,onerror,"GET");
  } 
}

function checkContent(str){
  if(str==""){      //当用户名为空时
    //alert("昵称不能为空！");
    //document.post_form.inputNickname.focus();
    document.getElementById("div_content").innerHTML="请输入内容.";//设置提示文字
    document.getElementById("tr_content").style.display='block'; //显示提示信息
    flag_content=false;
  }else if(!checkeContent(str)){ //判断用户名是否符合要求
    document.getElementById("div_content").innerHTML="内容非法.";  //设置提示文字
    document.getElementById("tr_content").style.display='block';   //显示提示信息
    flag_content=false;
  }else{    //进行异步操作，判断用户名是否被注册
    document.getElementById("div_content").innerHTML="";
    document.getElementById("tr_content").style.display='none';
    //var loader=new net.AjaxRequest("UserServlet?action=checkUser&username="+str+"&nocache="+new Date().getTime(),deal,onerror,"GET");
  } 
}

</script>

<script type="text/javascript">
   function post_submit(){
    var title = $('input[name=title]');
    var content=$('textarea[name=content]');
    var tag=$('input[name=tag]');
    var post=content.val();
    var handleUrl='{:U("/Home/Circle/handle_new_circle")}';
    var user_id=document.getElementById("submitButton").getAttribute("aid");
    var redirectUrl='{:U("/Home/Circle/apply_confirm")}';
    if ((title.val() !="" )&&(content.val() != "")) {

        var a=$.post(handleUrl,{title:title.val(),content:post,user_id:user_id},function(data){
          if(data.type==0)
            alert('发送失败，请重试');
          else{
              if(data.type==2){
                alert('圈名已存在，给您的圈子换个名字吧');

              }
              else{
                var para=document.createElement("p");
                para.id="p1";
                para.style.backgroundColor="#f2f8f2";
                para.style.color="red";

                var node=document.createTextNode("申请成功，正在跳转...");
                para.appendChild(node);

                var element=document.getElementById("show_alert");
                element.appendChild(para);
                setTimeout("clean()",3000);
                window.location.href=redirectUrl;

              }
             
          }
        },'json');
        a.error(function(){alert('fail')});
      } else {
        document.getElementById('submitButton').focus();
      
       }
      }

      function clean(){
        var parent=document.getElementById("show_alert");
        var child=document.getElementById("p1");
        parent.removeChild(child);
      }
   </script>
</block>