<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>添加管理员</title>
	<load href="__PUBLIC__/Css/base.css" />
	<load href='__PUBLIC__/Js/jquery.js'/>
    <load href='__PUBLIC__/Js/style.js'/>
</head>
<body background='__PUBLIC__/Images/allbg.gif' leftmargin='8' topmargin='8'>
	<table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#D6D6D6">
  <tr>
    <td height="19" background="__PUBLIC__/Images/tbg.gif" bgcolor="#E7E7E7"> 
      <table width="96%" border="0" cellspacing="1" cellpadding="1">
        <tr> 
          <td style="padding-left:10px;"><b><strong>添加管理员</strong></b> </td>
          <td align='right'><a href="{:U('Admin/index')}"><b><strong>列表</strong></b></a> </td>
        </tr>
      </table></td>
   </tr>
  <tr>
  <td height="215" align="center" valign="top" bgcolor="#FFFFFF">
	<form name="form1" action="{:U('Admin/runAddAdmin')}" method="post">
        <table width="98%" border="0" cellspacing="1" cellpadding="1">
          <tr> 
            <td width="16%" height="30"><span class='red'>*</span>管理员名称</td>
            <td width="84%" style="text-align:left;"><input name="adminname" type="text" id="username" size="16" style="width:200px" /> &nbsp;
           </td>
          </tr>
          
          <tr> 
            <td height="30"><span class='red'>*</span>管理员密码</td>
            <td style="text-align:left;">
            	<input name="passwd" type="password" id="passwd" size="16" style="width:200px" /> &nbsp;
            </td>
          </tr>
          <tr> 
            <td height="90">管理员权限</td>
            <td style="text-align:left;">
			<?php
			foreach($priinfo as $key=>$value)
			{
				if($value!='')
				{
					echo $value.":<input type='radio' name='pri".$key."' value='1'>有 &nbsp;
<input type='radio' name='pri".$key."' value='0' checked='checked'>无<br />";
				}
			}
			echo "<input type='hidden' name='size' value='".(count($priinfo)-2)."'>";
			?>
			<!--
用户模块权限：<input type="radio" name="pri1" value="1">有 &nbsp;
<input type="radio" name="pri1" value="0" checked="checked">无<br />
项目模块权限：<input type="radio" name="pri2" value="1">有 &nbsp;
<input type="radio" name="pri2" value="0" checked="checked">无<br />
政策模块权限：<input type="radio" name="pri3" value="1">有 &nbsp;
<input type="radio" name="pri3" value="0" checked="checked">无<br />
垃圾模块权限：<input type="radio" name="pri4" value="1">有 &nbsp;
<input type="radio" name="pri4" value="0" checked="checked">无<br />
信息模块权限：<input type="radio" name="pri5" value="1">有 &nbsp;
<input type="radio" name="pri5" value="0" checked="checked">无<br />
统计模块权限：<input type="radio" name="pri6" value="1">有 &nbsp;
<input type="radio" name="pri6" value="0" checked="checked">无<br />
-->
            </td>
          </tr>
          <tr> 
            <td height="60">&nbsp;</td>
            <td>
            	<input type="submit" name="submit" value="添加管理员" class="coolbg np" />
            </td>
          </tr>
        </table>
      </form>
	  </td>
</tr>
</table>
</body>
</html>