<extend name="Home/Public/base.html" />
<block name="headfiles">
  <link rel="shortcut icon" type="image/x-icon" href="__ROOT__/Public/Img/blue-logo.jpg" />
  <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Css/mystyle.css" media="all"/>
</block>

<block name="javascript">
  <script type="text/javascript" defer src="__ROOT__/Public/Js/index.js"></script>
</block>

<block name="title">
  <title>更改密码-Mr.Chuang</title>
</block>

<block name="nav">
  <include file="Home/Public/header.html" />
</block>

<block name="main">
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<br/><br/>
<form class="form-horizontal" role="form" name="user" id="user" method='post'action="__URL__/changepasswordsubmit">

<if condition="$byemail">
<br>修改您的密码
<else/>

  <div class="col-md-8 col-md-offset-3 registertextstyle">
    <tr id="tr_pwd" style=" display:block">
        <td height="40" colspan="2" align="center">
        <div id="div_pwd" class="span3 offset3" style="color:#FF0000; width:90%; height:29px; padding-top:8px;"></div></td>
    </tr>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">旧密码</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="oldpasswd" placeholder="旧密码" onblur="checkPwd(this.value)"/>
    </div>
  </div>

</if>
<div style="height:40px"></div>

  <div class="form-group">
    <label class="col-sm-2 control-label">新密码</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="user_passwd" id="inputPassword" placeholder="新密码" onblur="checkPwd(this.value)"/>
    </div>
  </div>

<div class="col-md-8 col-md-offset-3 registertextstyle">
  <tr id="tr_repwd" style=" display:block">
      <td height="40" colspan="2" align="center">
      <div id="div_repwd" class="span3 offset3" style="color:#FF0000; width:90%; height:29px; padding-top:8px;"></div></td>
  </tr>
</div>

   <div class="form-group">
    <label class="col-sm-2 control-label">确认新密码</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="re_passwd" id="inputRepasswd" placeholder="确认新密码" onblur="checkRepwd(this.value)"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">&nbsp;更&nbsp;改&nbsp;</button>
    </div>
  </div>
</form>
  </div>
</div>
</block>