<extend name="Home/Public/base.html" />

<block name="headfiles">
  <link rel="shortcut icon" type="image/x-icon" href="__ROOT__/Public/Img/blue-logo.jpg" />
  <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Css/mystyle.css" media="all"/>
</block>

<block name="nav">
	<include file="Home/Public/header.html" />
</block>

<block name="main">
	<div class="row">
		<br/>
		<div class="col-md-8 col-md-offset-2">
			<include file="User:log"/>
			<div class="col-sm-offset-2 col-sm-10" >
				<a href="{:U('User/reg')}">注册</a>
				<a href="{:U('User/findpassword')}">找回密码</a>
				<a href="{:U('User/reactive')}">重新激活</a>
			</div>
		</div>

	</div>
</block>

