<br>用户模块 功能-地址
<br>
<br>完成
<br>
<br><a href="reg">注册 /Home/User/reg</a>
<br><a href="Log">登陆 /Home/User/log</a>
<br><a href="logout">注销 /Home/User/logout</a>
<br><a href="changepassword">修改密码 /Home/User/changePassword</a>
<br>
<br><a href="findpassword">密码找回 和验证 /Home/User/findPassword </a>（只验证，未实现邮件发送）
<!-- <br>用户个人认证信息提交 /Home/User/pverify
<br>撤销个人认认证   /Home/User/deletepverify
<br>企业认证信息提交 /Home/User/cverify
<br>撤销企业认证 /Home/User/deleteCVerify -->
<br>
<br>部分完成
<br>

<br><a href="info">用户信息查看编辑（看别人和看自己） /Home/User/info </a>(目前由头像上传查看，基本信息查看修改实现)
<br>
<br>未完成但页面存在
<br>
<br>用户信息首页 /Home/User/index
