<div class="col-md-2">
    <form method="post" enctype="multipart/form-data" action="__URL__/uploadPhoto" >
        <img src="{$user.user_avatar_url}" class="thumbnail" style="width:100%"/>

        <IF condition="$isself">
            <div>
                <input name="photo" type="file" class="btn" style="background-color:#e5e5e5"/>
                <h5 class="text-muted">
                    保存头像.
                    <input  type="submit" class="btn btn-default"/>
                </h5>
            </div>
        </IF>

    </form>
</div>